@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@layer components {
  .screen-height{
    @apply min-h-[calc(100vh-82px)]
  }
  .dropdown-item {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
  }
  .transition {
    @apply transition-all duration-500
  }
}
@layer utilities {
  .columns-2 {
    column-count: 2;
  }

  .columns-3 {
    column-count: 3;
  }

  .columns-4 {
    column-count: 4;
  }

  .columns-5 {
    column-count: 5;
  }

  .break-inside-avoid {
    break-inside: avoid;
  }
}