@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@layer components {
  .transition{
    @apply transition-all duration-500
  }
  .screen-height{
    @apply min-h-[calc(100vh-82px)]
  }
  .dropdown-item {
    @apply block px-4 py-2 text-black-1 dark:text-white-2
  }
  .animation{
    @apply transition-all ease-linear duration-300
  }

  .h1-mali {
    @apply font-mali text-5xl my-1
  }
  .h1-quicksand {
    @apply font-quicksand text-5xl
  }
  .h2-mali {
    @apply font-mali text-3xl
  }
  .h2-quicksand {
    @apply font-quicksand text-3xl
  }
  .p-mali {
    @apply font-mali
  }
  .p-quicksand {
    @apply font-quicksand
  }
}
@layer utilities {
  .columns-2 {
    column-count: 2;
  }

  .columns-3 {
    column-count: 3;
  }

  .columns-4 {
    column-count: 4;
  }

  .columns-5 {
    column-count: 5;
  }

  .break-inside-avoid {
    break-inside: avoid;
  }
}